ul {
  display: flex;
  justify-content: space-around;
  width: 400px;
  padding: 0;
}
li {
  list-style: none;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: calc(100% / 3);
  background: #ccc;
  color: rgb(238, 0, 255);
  cursor:pointer;
}
li.active {
  background: indianred;
  color: antiquewhite;
}
.tags>div{
  width: 800px;
  height: 480px;
  border: 1px solid #ccc;
  display: none;
}
.tags>div.active{
  display: block;
}
